.menu {
  color: blueviolet;
  font-size: large;
  font-weight: bolder;
}
.parrafo {
  color: deepskyblue;
  font-style: italic;
}
.tituloparrafo {
  color: indigo;
  font-weight: bolder;
  font-size: larger;
}
