.estatico {
  position: static;
  border: 5px solid blue;
}

.relativa {
  position: relative;
  left: 60px;
  border: 5px solid cadetblue;
}

.fija {
  position: fixed;
  top: 0;
  left: 400px;
  border: 5px solid cadetblue;
}

.contenedorrelativo {
  position: relative;
  width: 500px;
  height: 500px;
  border: 5px solid red;
}

.contenedorabsoluto {
  position: absolute;
  top: 100px;
  left: 0;
  width: 250px;
  height: 250px;
  border: 5px solid peru;
}

.ancla {
  position: sticky;
  top: 0;
  padding: 5px;
  background-color: cornsilk;
  border: 5px solid cyan;
}

.contenido {
  padding-bottom: 1000px;
}

img {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.contenedorimagen {
  position: relative;
  max-width: 1000px;
  margin: auto;
}

.contenedorimagen img {
  width: 100%;
  height: auto;
  opacity: 40%;
}

.textoderecha {
  position: absolute;
  right: 20px;
  top: 200px;
}
