body {
  background-color: rgb(248, 215, 215);
}
.contenedor {
  margin: auto;
  background-color: rgb(172, 68, 68);
}
.caja1 {
  border-style: solid;
  border-width: 10px;
  border-color: rgb(7, 35, 121);
  padding: 20px;
}
.caja2 {
  border-style: solid;
  border-width: 10px;
  border-color: rgb(7, 35, 121);
  padding: 20px;
}
p {
  border-style: solid;
  border-width: 3px;
  border-color: rgb(255, 196, 0);
  padding: 15px;
}
.caja3 {
  border-style: solid;
  border-width: 10px;
  border-color: rgb(7, 35, 121);
  padding: 30px 15px 5px 50px;
}
.parrafoformato {
  border-style: solid;
  border-width: 3px;
  border-color: rgb(255, 196, 0);
  padding-top: 5px;
  padding-left: 45px;
  padding-right: 20px;
  padding-bottom: 70px;
}
